<nav class="app-nav">
    <div class="app-nav-ctn">
        <ul class="app-nav-items">
            <a ng-click="goTo('home')"><img src="./images/logo-tsp-w.png" alt=""></a>
            <li><a ng-click="logout()" title="Log Off"><i class="fa fa-sign-out"></i></a></li>
            <li><a ng-click="goTo('stats')" title="My Fitness"><i class="fa fa-area-chart"></i></a></li>
            <li><a ng-click="goTo('home')" title="My Dashboard"><i class="fa fa-dashboard"></i></a></li>
            <li><a ng-click="goTo('account')" title="My Account"><i class="fa fa-user-circle-o"></i></a></li>
        </ul>
    </div>
</nav>
<div class="character">
    <!-- Gender -->
    <div class="gender-row">
        <h2><label for="gender" class="address">Gender:</label></h2>
        <div class="radio-tile-group">
            <div class="input-container">
                <input id="male" class="radio-button" type="radio" name="gender" ng-model="gender" value="male" />
                <div class="radio-tile">
                    <div class="icon male-icon">
                        <i class="fa fa-male fa-3x" aria-hidden="true"></i>
                    </div>
                    <label for="male" class="radio-tile-label">Male</label>
                </div>
            </div>
            <div class="input-container">
                <input id="female" class="radio-button" type="radio" name="gender" ng-model="gender" value="female" />
                <div class="radio-tile">
                    <div class="icon female-icon">
                        <i class="fa fa-female fa-3x" aria-hidden="true" fa6></i>
                    </div>
                    <label for="female" class="radio-tile-label">Female</label>
                </div>
            </div>
        </div>
    </div>
    <!-- Age -->
    <div class="row">
        &nbsp;
        <input type="text" id="age" placeholder="is just a number" name="age" ng-model="age"> years old
        <label for="age" class="address">Age</label>
    </div>
    <!-- Height -->
    <div class="row">
        &nbsp;
        <input type="text" id="height" placeholder="heels count" name="foot" ng-model="foot"> ft
        <label for="height" class="address">Height</label>
        <input type="text" id="height" placeholder="heels count" name="inch" ng-model="inch"> in
    </div>
    <!-- Weight -->
    <div class="row">
        &nbsp;
        <input type="text" id="weight" placeholder="don't you lie now" name="pounds" ng-model="pounds"> lbs
        <label for="weight" class="address">Weight</label>
    </div>
    <!-- Daily Activities -->
    <div class="activity-row">
        &nbsp;
        <h2><label for="activity" class="address">Daily Activities:</label></h2>
        <div class="radio-tile-group">
            <div class="input-container">
                <input id="sedentary" class="radio-button" type="radio" name="activity" ng-model="activity" value="0" />
                <div class="radio-tile">
                    <label for="sendentary" class="radio-tile-label">Sedentary</label>
                    <p>On the Butt</p>
                </div>
            </div>
            <div class="input-container">
                <input id="light-active" class="radio-button" type="radio" name="activity" ng-model="activity" value="0.1" />
                <div class="radio-tile">
                    <label for="light-active" class="radio-tile-label">Light</label>
                    <p>On the Feet</p>
                </div>
            </div>
            <div class="input-container">
                <input id="active" class="radio-button" type="radio" name="activity" ng-model="activity" value="1" />
                <div class="radio-tile">
                    <label for="active" class="radio-tile-label">Active</label>
                    <p>Being Physical</p>
                </div>
            </div>
            <div class="input-container">
                <input id="super-active" class="radio-button" type="radio" name="activity" ng-model="activity" value="1.1" />
                <div class="radio-tile">
                    <label for="super-active" class="radio-tile-label">Super Active</label>
                    <p>Workin' Hard</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Exercising Days Per Week -->
    <div class="row">
        &nbsp;
        <input type="text" id="height" placeholder="let's be real" name="days" ng-model="days">
        <label for="days" class="address">Exercise Days Per Week</label>
    </div>
    <!-- Intensity -->
    <div class="intensity-row">
        &nbsp;
        <h2><label for="intensity" class="address">Workout Intensity</label></h2>
        <div class="radio-tile-group">
            <div class="input-container">
                <input id="light" class="radio-button" type="radio" name="intensity" ng-model="intensity" value="0" />
                <div class="radio-tile">
                    <label for="light" class="radio-tile-label">Light</label>
                    <p>Not Sweatin'</p>
                </div>
            </div>
            <div class="input-container">
                <input id="moderate" class="radio-button" type="radio" name="intensity" ng-model="intensity" value="0.1" />
                <div class="radio-tile">
                    <label for="moderate" class="radio-tile-label">Moderate</label>
                    <p>Challenging Myself</p>
                </div>
            </div>
            <div class="input-container">
                <input id="difficult" class="radio-button" type="radio" name="intensity" ng-model="intensity" value="1" />
                <div class="radio-tile">
                    <label for="difficult" class="radio-tile-label">Difficult</label>
                    <p>I Need Air</p>
                </div>
            </div>
            <div class="input-container">
                <input id="intense" class="radio-button" type="radio" name="intensity" ng-model="intensity" value="1.1" />
                <div class="radio-tile">
                    <label for="intense" class="radio-tile-label">Intense</label>
                    <p>I May Or May Not Die</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Goal For Thyself -->
    <div class="goals-row">
        &nbsp;
        <h2><label for="goals" class="address">Today I want to...</label></h2>
        <br>
        <div>
            <div class="header">Lose Weight(Cut)</div>
            <ul class="character-trait-list">
                <li>
                    <input type="radio" id="a-option" name="selector" ng-model="goal" value="-0.15">
                    <label for="a-option">-15%</label>
                    <div class="check"></div>
                </li>
                <li>
                    <input type="radio" id="b-option" name="selector" ng-model="goal" value="-0.2">
                    <label for="b-option">-20%</label>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
                <li>
                    <input type="radio" id="c-option" name="selector" ng-model="goal" value="-.25">
                    <label for="c-option">-25%</label>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="header">Gain Weight(Bulk)</div>
            <ul class="character-trait-list">
                <li>
                    <input type="radio" id="f-option" name="selector" ng-model="goal" value="0.05">
                    <label for="f-option">+5%</label>
                    <div class="check"></div>
                </li>
                <li>
                    <input type="radio" id="s-option" name="selector" ng-model="goal" value="0.1">
                    <label for="s-option">+10%</label>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
                <li>
                    <input type="radio" id="t-option" name="selector" ng-model="goal" value="0.15">
                    <label for="t-option">+15%</label>
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="account--edit-profile-btn" ng-click="characterStats(gender,age,foot,inch,pounds,days,goal,activity,intensity)"><i class="fa fa-pencil-square-o"></i>Calculate</button>
    <button class="account--edit-profile-btn" ng-click="goTo('account')">Back To Account</button>
    <!-- <p>{{userData}}</p> -->
</div>
