<div class="container">
    <div class="radio-tile-group">
        <div class="input-container">
            <input id="male" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon male-icon">
                    <i class="fa fa-male fa-3x" aria-hidden="true"></i>
                </div>
                <label for="male" class="radio-tile-label">Male</label>
            </div>
        </div>
        <div class="input-container">
            <input id="female" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon female-icon">
                    <i class="fa fa-female fa-3x" aria-hidden="true" fa6></i>
                </div>
                <label for="female" class="radio-tile-label">Female</label>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="radio-tile-group">
        <div class="input-container">
            <input id="male" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon male-icon">
                    <i class="fa fa-male fa-3x" aria-hidden="true"></i>
                </div>
                <label for="male" class="radio-tile-label">Male</label>
            </div>
        </div>
        <div class="input-container">
            <input id="female" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon female-icon">
                    <i class="fa fa-female fa-3x" aria-hidden="true" fa6></i>
                </div>
                <label for="female" class="radio-tile-label">Female</label>
            </div>
        </div>
        <div class="input-container">
            <input id="male" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon male-icon">
                    <i class="fa fa-male fa-3x" aria-hidden="true"></i>
                </div>
                <label for="male" class="radio-tile-label">Male</label>
            </div>
        </div>
        <div class="input-container">
            <input id="female" class="radio-button" type="radio" name="radio" />
            <div class="radio-tile">
                <div class="icon female-icon">
                    <i class="fa fa-female fa-3x" aria-hidden="true" fa6></i>
                </div>
                <label for="female" class="radio-tile-label">Female</label>
            </div>
        </div>
    </div>
</div>