<nav class="app-nav">
  <div class="app-nav-ctn">
    <ul class="app-nav-items">
      <a href="#/home"><img src="./images/logo-tsp-w.png" alt=""></a>
      <li><a ng-click="logout()" title="Log Off"><i class="fa fa-sign-out"></i></a></li>
      <li><a href="#/home" title="My Fitness"><i class="fa fa-area-chart"></i></a></li>
      <li class="active"><a href="#/home" title="My Dashboard"><i class="fa fa-dashboard"></i></a></li>
      <li class="appnav-propic"><a href="#/account" title="My Account"><i class="fa fa-user-circle-o"></i></a></li>
    </ul>
  </div>
</nav>
<div class="home">
  <div class="account-profile-card">
    <figure class="card hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" />
      <figcaption>
        <img src="{{authUser.photoURL || user.photoURL}}" alt="profile-sample2" class="profile" />
        <h2>{{authUser.displayName || user.displayName}}<span>{{user.occupation}}</span></h2>
        <hr>
        <br>
        <h3>Rundown</h3>
        <br>
        <p>
          <i class="account-about-icon fa fa-balance-scale" title="Current Weight"></i> 155 lbs.
        </p>
        <canvas class="home--card-chart chart chart-radar" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick"></canvas> 
        <!-- <input type="text" ng-model=""/> -->
      </figcaption>
    </figure>
    <figure class="card hover home--news-card">
      <figcaption>
        <h3>Conversation with Crystal</h3> {{authUser}}
        <hr>
        <p ng-repeat="message in userinfo.messageHistory">
          <strong>{{message.sender}}</strong>: {{message.content}}
          <br>
          <small>test{{message.date}}</small>
        </p>
      </figcaption>
    </figure>
  </div>
</div>
<nav id="nav" class="menu">
  <input type="checkbox" href="#" class="menu-open menu-toggle" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <img src="./images/logo.png" style="width:50px" />
  </label>
  <a href="./stats" class="ripple menu-item"> <i class="fa fa-bar-chart"></i> </a>
  <a ng-click="listen()" class="ripple menu-item"> <i class="fa fa-microphone"></i> </a>
</nav>

</div>
