<nav class="app-nav">
  <div class="app-nav-ctn">
    <ul class="app-nav-items">
      <a ng-click="goTo('home')"><img src="./images/logo-tsp-w.png" alt=""></a>
      <li><a ng-click="logout()" title="Log Off"><i class="fa fa-sign-out"></i></a></li>
      <li class="active"><a ng-click="goTo('stats')" title="My Fitness"><i class="fa fa-area-chart"></i></a></li>
      <li><a ng-click="goTo('home')" title="My Dashboard"><i class="fa fa-dashboard"></i></a></li>
      <li class="appnav-propic"><a ng-click="goTo('account')" title="My Account"><i class="fa fa-user-circle-o"></i></a></li>
    </ul>
  </div>
</nav>
<div class="account">
  <div class="account-profile-card">
    <figure class="card hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" />
      <figcaption>
        <img src="{{authUser.photoURL || user.photoURL || 'http://publicdomainvectors.org/photos/abstract-user-flat-4.png'}}" alt="profile-sample2" class="profile" />
        <h2>{{authUser.displayName || user.displayName}}<span>{{user.occupation}}</h2>
        <a style="color: #1c6e88" class="btn btn-sm" rel="publisher" href="https://www.facebook.com/crystalcoachme/?hc_ref=SEARCH&fref=nf">
          <i class="fa fa-facebook"></i>
        </a>
        <a style="color: #1c6e88" class="btn btn-sm" rel="publisher" href="https://tree.taiga.io/project/tehjawn-crystalcoach/">
          <i class="fa fa-compass"></i>
        </a>
        <a style="color: #1c6e88" class="btn btn-sm" rel="publisher" href="https://github.com/tehjawn/CrystalCoach">
          <i class="fa fa-github"></i>
        </a>
        <hr>
        <br>
        <h3>About</h3>
        <br>
        <p>
          <i class="account-about-icon fa fa-globe"></i>
          <span ng-hide="editAccountMode">{{user.info.ethnicity}}</span>
          <input ng-show="editAccountMode" type="text" ng-model="user.info.ethnicity">
        </p>
      </figcaption>
    </figure>
    <figure class="card hover stats-card">
      <figcaption>
        <h3><i class='fa fa-line-chart'></i> My Stats</h3>
        <hr>
        <div class="stats--graph-ctn">
          <canvas class="stats--card-chart chart chart-horizontal-bar" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick"></canvas> 
        </div>
        <div class="stats--graph-ctn">
          <canvas class="stats--card-chart chart chart-horizontal-bar" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick"></canvas> 
        </div>
        <div class="stats--graph-ctn">
          <canvas class="stats--card-chart chart chart-horizontal-bar" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick"></canvas> 
        </div>
        <div class="stats--graph-ctn">
          <canvas class="stats--card-chart chart chart-pie" chart-data="data" chart-labels="labels" 
    chart-series="series" chart-click="onClick"></canvas> 
        </div>
      </figcaption>
    </figure>
  </div>
</div>
<nav id="nav" class="menu">
  <input type="checkbox" href="#" class="menu-open menu-toggle" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <img src="./images/logo.png" style="width:50px" />
  </label>
  <a ng-click class="ripple menu-item" title="Add Activity"> <i class="fa fa-plus"></i> </a>
  <a ng-click="listen()" class="ripple menu-item" title="Talk with Crystal"> <i class="fa fa-microphone"></i> </a>
</nav>
</div>
